/* ROOT supaya halaman full layar */
#root{
  width:100%;
  min-height:100vh;
}

/* BODY */
body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#f1f5f9;
}

/* HEADER */
.header{
  display:flex;
  align-items:center;
  gap:15px;
  padding:15px 25px;
  background:#ffffff;
  border-bottom:3px solid #1e3a8a;
  width:100%;
  box-sizing:border-box;
}

.header img{
  width:50px;
}

.title h2{
  margin:0;
}

.title p{
  margin:0;
  color:#555;
}

.navbar{
  display:flex;
  gap:30px;
  margin-left:auto;
}
.navbar a{
  text-decoration:none;
  color:black;
  position:relative;
  display:inline-block;
  padding:5px 10px;
}

.navbar a::after{
  content:"";
  position:absolute;
  width:0;
  height:2px;
  left:0;
  bottom:-3px;
  background-color:black;
  transition:0.3s ease;
}

.navbar a:hover::after{
  width:100%;
}
/* CONTENT */
.content{
  padding:25px;
  width:100%;
  box-sizing:border-box;
}

/* CARD CONTAINER */
.card-container{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

/* CARD */
.card{
  background:white;
  padding:20px;
  border-radius:8px;
  flex:1;
  min-width:200px;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

/* TABEL DI DALAM CARD */
.card table{
  width:100%;
  border-collapse:collapse;
}

/* HEADER TABEL */
.card th{
  background:#e2e8f0;
}

/* ISI TABEL */
.card th,
.card td{
  padding:10px;
  border:1px solid #ddd;
  text-align:left;
}

/* HOVER BARIS */
.card tr:hover{
  background:#f8fafc;
}
/* LOGIN PAGE */
.login-container{
  height:100vh;
  display:flex;
  justify-content:center;   /* tengah horizontal */
  align-items:flex-start;   /* mulai dari atas */
  padding-top:120px;        /* jarak dari atas */
}

.login-box{
  width:420px;
  background:white;
  padding:40px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.login-box h1{
  text-align:center;
  margin-bottom:30px;
}

.login-box input{
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:16px;
}

.login-box button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#2f4675;
  color:white;
  font-size:16px;
  cursor:pointer;
}

.login-box button:hover{
  background:#1f3560;
}
.menu-link{
  position:relative;
}

.menu-link::after{
  content:"";
  position:absolute;
  width:0;
  height:2px;
  left:0;
  bottom:-3px;
  background:#1c3d6e;
  transition:0.3s;
}

.menu-link:hover::after{
  width:100%;
}