/* ROOT supaya halaman full layar */
#root{
  width:100%;
  min-height:100vh;
}

/* BODY */
body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#f1f5f9;
}

/* HEADER */
.header{
  display:flex;
  align-items:center;
  gap:15px;
  padding:15px 25px;
  background:#ffffff;
  border-bottom:3px solid #1e3a8a;
  width:100%;
  box-sizing:border-box;
}

.header img{
  width:50px;
}

.title h2{
  margin:0;
}

.title p{
  margin:0;
  color:#555;
}

.navbar{
  background:#1e3a8a;
  padding:10px 20px;
  width:100%;
  box-sizing:border-box;

  display:flex;
  justify-content:center; 
  gap:30px; 
}
.navbar a{
  color:white;
  text-decoration:none;
  font-weight:bold;
  font-size:18px;     /* membesarkan tulisan */
  letter-spacing:0.5px; /* sedikit merapikan jarak huruf */
  padding:5px 10px;
}

.navbar a:hover{
  text-decoration:underline;
}

/* CONTENT */
.content{
  padding:25px;
  width:100%;
  box-sizing:border-box;
}

/* CARD CONTAINER */
.card-container{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

/* CARD */
.card{
  background:white;
  padding:20px;
  border-radius:8px;
  flex:1;
  min-width:200px;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

/* TABEL DI DALAM CARD */
.card table{
  width:100%;
  border-collapse:collapse;
}

/* HEADER TABEL */
.card th{
  background:#e2e8f0;
}

/* ISI TABEL */
.card th,
.card td{
  padding:10px;
  border:1px solid #ddd;
  text-align:left;
}

/* HOVER BARIS */
.card tr:hover{
  background:#f8fafc;
}